.week {
  width: 16px;
  min-width: 16px;

  padding: 2px 8px;
  border: 1.5px solid var(--foreground-color);
  border-radius: 4px;

  font-size: 1rem;
  line-height: 1.5;
}

.week[data-empty="true"] {
  border-color: lightgray;
}

.tooltip {
  font-size: 0.875rem;
}
