:root {
  --foreground-color: black;
  --background-color: white;
  --accent-color: #ffb300;
  --neutral-color: #eeedf3;

  --font-mono: monospace;
  --font-serif: serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline-color: var(--accent-color);
}

body {
  color: var(--foreground-color);
  background: var(--background-color);

  font-family: var(--font-serif), serif;
}

a {
  color: var(--foreground-color);
  font-weight: 600;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

input,
button {
  font-family: var(--font-mono), monospace;
  font-size: 1rem;
}
