.main {
  min-height: 100vh;
  margin: 0 auto;
  padding: 24px;
}

.decade {
  padding-top: 16px;
  padding-bottom: 32px;

  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.footer {
  padding: 24px;
  padding-bottom: 48px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.copyright {
  padding-top: 4px;
  font-family: var(--font-mono);
}
