.main {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 250px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4px;
}

.word {
  padding: 2px 8px;
  padding-top: 3px;
  border: 1.5px solid var(--foreground-color);
  border-radius: 4px;

  font-family: var(--font-mono);
}

.block {
  width: 16px;
  height: 32px;

  background: var(--neutral-color);
  border: 1.5px solid var(--accent-color);
  border-radius: 4px;
}
